<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Т-Поколение</title>

    <meta name="google-site-verification" content="8PoClVOYf3JH6ckGYC0vPb-dzrbFZ06GcTSFDjxnNx0"/>

    <script src="https://cdn.tbank.ru/twa/ttm/contractor/publications/algocourses-v2/index.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="{{ url_for('styles', path='style.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('styles', path='header.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('styles', path='color.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('styles', path='common.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('styles', path='buttons.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('styles', path='modal.css?v=' + ui_version) }}" rel="stylesheet" type="text/css">

    <script defer src="{{ url_for('scripts', path='alpine.js?v=' + ui_version) }}"></script>
    <script src="{{ url_for('scripts', path='script.js?v=' + ui_version) }}"></script>
    <script src="{{ url_for('scripts', path='analytics.js?v=' + ui_version) }}"></script>

    <link href="/styles/favicon.ico" rel="icon" type="image/png">

    <script
            defer
            src="https://smartcaptcha.yandexcloud.net/captcha.js"
    ></script>

    {% block head %}
    {% endblock %}
</head>

<body :style="isNotModalMode() ? '' : 'overflow: hidden'" x-data="usersComponent()">

<header class="header">
    <div>
        <div class="clickable" onclick="window.location.href=`{{ url_for('web.home') }}`">
            <img alt="Т-Банк" src="{{ url_for('styles', path='logo.svg') }}">
            <h1>Алгоритмы.</h1>
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div>
        {% block extra_header_buttons %}
        {% endblock %}

        <div>
            {% if user %}
                <button @click="logoutClicked()" class="white-btn">Выйти</button>
            {% else %}
                <button @click="{{ form_renderer.button_for(forms, 'common/login') }}" class="white-btn">Войти</button>
            {% endif %}
        </div>
    </div>
</header>

<div class="main">
    {% block main %}
    {% endblock %}
</div>

{% include "popup/popup.html" %}
</body>
</html>

